{% extends "dashboard/adminlayout.html" %}

{% block content %}

 
  {% load staticfiles %}

 
<!--Sidebar End-->
<div class="has-sidebar-left">
   {{mlist| safe}}
 <!--
         <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            <div class="lightSlider" data-item="3" data-item-xl="3" data-item-md="2" data-item-sm="1" data-pause="7000" data-pager="false">
                <div>
                    <a href="{% url 'businesscontinuity' %}">
                    <div class="white text-center p-4">           
                          <h6 class="mb-3">BUSINESS CONTINUITY</h6>

                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'socialnetworks' %}">
                    <div class="white text-center p-4">
                            <h6 class="mb-3">SOCIAL NETWORKS</h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'contactcenter' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">CONTACT CENTER </h6>
                    </div>
                    </a>
                </div>
            
            </div>
 

        </div>
             
    </div>

    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
             

            <div class="lightSlider" data-item="3" data-item-xl="3" data-item-md="2" data-item-sm="1" data-pause="7000" data-pager="false">

                <div>
                    <a href="{% url 'datacenter' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">DATA CENTER</h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'videomn' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">VIDEO MN</h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'humanassets' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">HUMAN ASSETS</h6>
                    </div>
                    </a>
                </div>
                  </div>
            </div>
             
        </div>

    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            <div class="lightSlider" data-item="3" data-item-xl="3" data-item-md="2" data-item-sm="1" data-pause="7000" data-pager="false">

                <div>
                    <a href="{% url 'hardware' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">HARDWARE </h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'software' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">SOFTWARE</h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'cloud' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">CLOUD</h6>
                    </div>
                    </a>
                </div>
                  </div>
            </div>
             
        </div>

    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
                         <div class="lightSlider" data-item="3" data-item-xl="3" data-item-md="2" data-item-sm="1" data-pause="7000" data-pager="false">

                <div>
                    <a href="{% url 'mobile' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">MOBILE  </h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'security' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">SECURITY</h6>
                    </div>
                    </a>
                </div>
                <div>
                    <a href="{% url 'database' %}">
                    <div class="white text-center p-4">
                        <h6 class="mb-3">DATABASE</h6>
                    </div>
                    </a>
                </div>
                  </div>

            </div>
             
        </div>
        <div class="container-fluid animatedParent animateOnce my-3">
                <div class="animated fadeInUpShort">
                <div class="lightSlider" data-item="3" data-item-xl="3" data-item-md="2" data-item-sm="1" data-pause="7000" data-pager="false">
        
                        <div>
                            <a href="{% url 'connectivity' %}">
                            <div class="white text-center p-4">
                                <h6 class="mb-3">CONNECTIIVTY  </h6>
                            </div>
                            </a>
                        </div>
                          </div>
        
                    </div>
                     
                </div>   -->     
    </div>
 

     {% endblock %}


 