{% extends "global_templates/sbs.html" %}

{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
{% endblock %}


{% block navigation %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'login:signin' %}">Sign-in<span class="sr-only">(current)</span></a>
</li>
{% endblock %}
{% block content %}
<h1>Login</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'login:loginValidate' %}" method="post">
{% csrf_token %}
<label for="username">Username</label>
<input type="text" class="form-control" name="username" value="" />
<label for="password">Password</label>
<input type="password" class="form-control" name="password" value="" />
<input type="submit" class="btn btn-default" value="Log-in" />
</form>
{% endblock %}
